<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene_level_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1126},{560,404}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,404}}</string>
                <key>sourceSize</key>
                <string>{560,406}</string>
            </dict>
            <key>scene_level_1_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{560,404}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,404}}</string>
                <key>sourceSize</key>
                <string>{560,406}</string>
            </dict>
            <key>scene_level_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,564},{560,404}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,404}}</string>
                <key>sourceSize</key>
                <string>{560,406}</string>
            </dict>
            <key>scene_level_2_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{560,404}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,404}}</string>
                <key>sourceSize</key>
                <string>{560,406}</string>
            </dict>
            <key>scene_level_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{560,404}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,404}}</string>
                <key>sourceSize</key>
                <string>{560,406}</string>
            </dict>
            <key>scene_level_3_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{560,404}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,404}}</string>
                <key>sourceSize</key>
                <string>{560,406}</string>
            </dict>
            <key>start_helpbutton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,598},{98,50}}</string>
                <key>offset</key>
                <string>{19,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,45},{98,50}}</string>
                <key>sourceSize</key>
                <string>{254,126}</string>
            </dict>
            <key>start_helpbutton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1790},{254,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,126}}</string>
                <key>sourceSize</key>
                <string>{254,126}</string>
            </dict>
            <key>start_jianglibutton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,498},{98,50}}</string>
                <key>offset</key>
                <string>{-12,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,49},{98,50}}</string>
                <key>sourceSize</key>
                <string>{270,116}</string>
            </dict>
            <key>start_jianglibutton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1688},{270,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,116}}</string>
                <key>sourceSize</key>
                <string>{270,116}</string>
            </dict>
            <key>start_juqinbutton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,200},{196,50}}</string>
                <key>offset</key>
                <string>{-38,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,147},{196,50}}</string>
                <key>sourceSize</key>
                <string>{556,308}</string>
            </dict>
            <key>start_juqinbutton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1220},{556,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,308}}</string>
                <key>sourceSize</key>
                <string>{556,308}</string>
            </dict>
            <key>start_scorebutton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,398},{98,50}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,32},{98,50}}</string>
                <key>sourceSize</key>
                <string>{194,104}</string>
            </dict>
            <key>start_scorebutton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1790},{194,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,104}}</string>
                <key>sourceSize</key>
                <string>{194,104}</string>
            </dict>
            <key>start_settingbutton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,698},{98,48}}</string>
                <key>offset</key>
                <string>{21,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,78},{98,48}}</string>
                <key>sourceSize</key>
                <string>{192,184}</string>
            </dict>
            <key>start_settingbutton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1790},{192,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,184}}</string>
                <key>sourceSize</key>
                <string>{192,184}</string>
            </dict>
            <key>start_tiaozhanbutton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{196,50}}</string>
                <key>offset</key>
                <string>{21,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,139},{196,50}}</string>
                <key>sourceSize</key>
                <string>{552,258}</string>
            </dict>
            <key>start_tiaozhanbutton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1530},{552,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,258}}</string>
                <key>sourceSize</key>
                <string>{552,258}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>localizable_images.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fb75e0b9460ca248e9d6f24298014f2$</string>
            <key>textureFileName</key>
            <string>localizable_images.png</string>
        </dict>
    </dict>
</plist>
