<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_life_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,228},{68,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{68,68}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>skill_life_btn_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,80},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>skill_multi_touch_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,228},{68,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{68,68}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>skill_multi_touch_btn_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,80},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>skill_skip_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{68,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{68,68}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>skill_skip_btn_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>skill_type_large_touch_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,158},{68,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{68,68}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>skill_type_large_touch_btn_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>skill_type_s_touch_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,158},{68,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{68,68}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>skill_type_s_touch_btn_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>skill_weake_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{68,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{68,68}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>skill_weake_btn_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_images.png</string>
            <key>size</key>
            <string>{236,298}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81a2171d6fd9734b41d5fd403a1ae888$</string>
            <key>textureFileName</key>
            <string>skill_images.png</string>
        </dict>
    </dict>
</plist>
