<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>105</key>
	<dict>
		<key>effect</key>
		<string>TeeMoo.mp3</string>
		<key>id</key>
		<string>105</string>
	</dict>
	<key>120</key>
	<dict>
		<key>effect</key>
		<string>WeeMoo.mp3</string>
		<key>id</key>
		<string>120</string>
	</dict>
	<key>134</key>
	<dict>
		<key>effect</key>
		<string>transport_goods.wav</string>
		<key>id</key>
		<string>134</string>
	</dict>
	<key>15</key>
	<dict>
		<key>effect</key>
		<string>TooBoo-D.mp3</string>
		<key>id</key>
		<string>15</string>
	</dict>
	<key>180</key>
	<dict>
		<key>effect</key>
		<string>WeeMoo.mp3</string>
		<key>id</key>
		<string>180</string>
	</dict>
	<key>195</key>
	<dict>
		<key>effect</key>
		<string>RooDa.mp3</string>
		<key>id</key>
		<string>195</string>
	</dict>
	<key>232</key>
	<dict>
		<key>effect</key>
		<string>QaQa.mp3</string>
		<key>id</key>
		<string>232</string>
	</dict>
	<key>262</key>
	<dict>
		<key>effect</key>
		<string>Waaaa.mp3</string>
		<key>id</key>
		<string>262</string>
	</dict>
	<key>30</key>
	<dict>
		<key>effect</key>
		<string>QeeDa.mp3</string>
		<key>id</key>
		<string>30</string>
	</dict>
	<key>60</key>
	<dict>
		<key>effect</key>
		<string>TeeVi.mp3</string>
		<key>id</key>
		<string>60</string>
	</dict>
	<key>76</key>
	<dict>
		<key>effect</key>
		<string>BeeGa.mp3</string>
		<key>id</key>
		<string>76</string>
	</dict>
	<key>90</key>
	<dict>
		<key>effect</key>
		<string>Spaceship.mp3</string>
		<key>id</key>
		<string>90</string>
	</dict>
</dict>
</plist>
