<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>133</key>
	<dict>
		<key>effect</key>
		<string>QeeQoo-D.mp3</string>
		<key>id</key>
		<string>133</string>
	</dict>
	<key>166</key>
	<dict>
		<key>effect</key>
		<string>QeeQoo-D.mp3</string>
		<key>id</key>
		<string>166</string>
	</dict>
	<key>199</key>
	<dict>
		<key>effect</key>
		<string>RooCi.mp3</string>
		<key>id</key>
		<string>199</string>
	</dict>
	<key>20</key>
	<dict>
		<key>effect</key>
		<string>SaTee.mp3</string>
		<key>id</key>
		<string>20</string>
	</dict>
	<key>214</key>
	<dict>
		<key>effect</key>
		<string>BooBee-D.mp3</string>
		<key>id</key>
		<string>214</string>
	</dict>
	<key>244</key>
	<dict>
		<key>effect</key>
		<string>RooCi-D.mp3</string>
		<key>id</key>
		<string>244</string>
	</dict>
	<key>260</key>
	<dict>
		<key>effect</key>
		<string>BeeBoo-D.mp3</string>
		<key>id</key>
		<string>260</string>
	</dict>
	<key>276</key>
	<dict>
		<key>effect</key>
		<string>QeeQoo-D.mp3</string>
		<key>id</key>
		<string>276</string>
	</dict>
	<key>292</key>
	<dict>
		<key>effect</key>
		<string>MeeGa-D.mp3</string>
		<key>id</key>
		<string>292</string>
	</dict>
	<key>308</key>
	<dict>
		<key>effect</key>
		<string>BooBee-D.mp3</string>
		<key>id</key>
		<string>308</string>
	</dict>
	<key>324</key>
	<dict>
		<key>effect</key>
		<string>BeeBoo-D.mp3</string>
		<key>id</key>
		<string>324</string>
	</dict>
	<key>37</key>
	<dict>
		<key>effect</key>
		<string>transport_goods.wav</string>
		<key>id</key>
		<string>37</string>
	</dict>
	<key>90</key>
	<dict>
		<key>effect</key>
		<string>QeeQoo.mp3</string>
		<key>id</key>
		<string>90</string>
	</dict>
</dict>
</plist>
