<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>desc</key>
	<string>末尾动画配置</string>
	<key>swf</key>
	<array>
		<string>end_movie_1.swf</string>
		<string>end_movie_2.swf</string>
		<string>end_movie_3.swf</string>
	</array>
</dict>
</plist>
